#ourteam{
  color:white;
  margin: 0px;
  padding:0px;
  width:100%;
  text-align: center;
  justify-content: center;
  font-size:50px;;
  height: auto;
}
#leaders{
  margin: 0px;
  padding:0px;
  /* background-color: #155dbd; */
  width:100%;
  color:white;
  overflow: hidden;
}
#secretory{
  text-align: center;
  width: 100%;
  margin: 0px;
  padding:0px;
  overflow: hidden;
  /* background-color:#8e7041; */
  justify-content: center;
  font-size: 25px;
}
#imgrow{
  margin: 0px;
  padding-top:3px;
  /* background-color: #a1aaa1; */
  overflow: hidden;
  width:100%;
  justify-content: center;
  text-align: center;
}
#imgrow2{
  margin: 0px;
  padding-top:3px;
  /* background-color: #a1aaa1; */
  overflow: hidden;
  justify-content: center;
  text-align: center;
}
#rowpage{
  height:100vh;
  margin: 0px;
  padding:0px;
  width:100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
#imgcolsec img{
  border-radius: 50% 50%;
  object-fit: cover;
}




